
.city-select {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}
.city-select__selector {
  &:hover .city-select-box__icon, &:focus .city-select-box__icon {
    background-color: #ff9900;
  }
}
span.city-select-box__current-text.js-selected-text{
  border-bottom: 2px dotted $main;
  margin: 0 10px;
}
.city-select{
  .left-icon{
    &::before{
      margin-left: 0;
      color: red;
      font-size: 15px;
      position: absolute;
      left: -15px;
    }
  }
}
.right-icon{
  &::before{
    margin-left: 0;
    color: red;
    font-size: 15px;
    position: absolute;
  }
}
.city-select {
  .city-select-box {
    position: relative;
    font-size: 12px;
    //
    color: $text;
    cursor: pointer;
  }

  // span::before {
  //   color: $main;
  //   font-size: 15px;
  //   margin-left: 0;
  // }

  .city-select-box__dropdown {
    position: absolute;
    top: 20px;
    left: -20px;
    right: -1px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: $background;
    width: 160px;
    max-height: 250px;
    overflow-x: hidden;
    z-index: 10;
    &:not(.is-open) {
      display: none;
    }
  }

  .city-select-box__link {
    display: block;
    padding: 10px 5px 10px 15px;
    text-decoration: none;
    color: $text;
  }

  .city-select-box__item.is-selected .city-select-box__link {
    color: $text;
    cursor: pointer;
  }
}
