$default-font: "montserrat-medium", sans-serif;
$main: #DA2227;
$background: #0C041B;
$text: #ffffff;
$default-light: "montserrat-light", sans-serif;
$default-lightItalic: "montserrat-lightItalic", sans-serif;
$default-mediumItalic: "Montserrat-MediumItalic", sans-serif;
