@font-face {
	font-family:Montserrat-Medium;
	src:url(../fonts/Montserrat/Montserrat-Medium.eot);
}
/* @font-face {
	font-family:Montserrat-Light;
	src:url(../fonts/Montserrat/Montserrat-Light.ttf);
} */
