@import url(../libs/bootstrap/css/bootstrap-grid.css);
@import url(../libs/bootstrap/css/bootstrap-reboot.css);
@import url(../libs/bootstrap/css/bootstrap.css);
@import url(../libs/icon/font/flaticon.css);
@import url(../libs/slick/slick.css);
@import url(../libs/slick/slick-theme.css);
@import url(../libs/Magnific-Popup/dist/magnific-popup.css);
@font-face {
  font-family: "montserrat-medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "montserrat-light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"); }

@font-face {
  font-family: "montserrat-lightItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "montserrat-mediumItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype"); }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.sf-menu > li {
  background: none;
  border: none; }

.sf-menu > li > a {
  border: none;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  margin: 0 0 0 50px; }

.sf-menu > li > a span::before {
  margin-left: 0;
  font-size: 10px;
  position: absolute;
  right: -10px;
  color: #DA2227; }

.sf-menu > li:hover, .sf-menu > li.sfHover {
  background: none; }

.sf-menu ul {
  background: #0C041B;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px; }

.sf-menu a {
  border: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 40px 10px 20px; }

.sf-menu ul {
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 100%; }

.sf-menu a:hover {
  text-decoration: none; }

.sf-menu a span::before {
  margin-left: 0;
  position: absolute;
  right: 5px;
  font-size: 10px;
  color: #DA2227; }

.sf-menu li:hover, .sf-menu li.sfHover {
  background: none; }

.sf-menu ul li {
  background: none; }

.sf-menu ul ul li {
  background: none; }

.city-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px; }
  .city-select .left-icon {
    margin: 0 15px 0 0; }
  .city-select .right-icon {
    margin: 0 0 0 15px; }

.city-select__selector:hover .city-select-box__icon, .city-select__selector:focus .city-select-box__icon {
  background-color: #ff9900; }

.city-select .city-select-box {
  position: relative;
  font-size: 12px;
  border-bottom: 2px dotted #DA2227;
  color: #ffffff;
  cursor: pointer; }

.city-select span::before {
  color: #DA2227;
  font-size: 15px;
  margin-left: 0; }

.city-select .city-select-box__dropdown {
  position: absolute;
  top: 20px;
  left: -20px;
  right: -1px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #0C041B;
  width: 160px;
  max-height: 250px;
  overflow-x: hidden;
  z-index: 10; }
  .city-select .city-select-box__dropdown:not(.is-open) {
    display: none; }

.city-select .city-select-box__link {
  display: block;
  padding: 10px 5px 10px 15px;
  text-decoration: none;
  color: #ffffff; }

.city-select .city-select-box__item.is-selected .city-select-box__link {
  color: #ffffff;
  cursor: pointer; }

figure.effect-oscar figcaption {
  padding: 70px 50px 60px 50px;
  -webkit-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s; }

figure.effect-oscar figcaption::before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  left: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 1, 130, 0.85)), to(rgba(31, 5, 86, 0.85)));
  background: -webkit-linear-gradient(top, rgba(46, 1, 130, 0.85) 0%, rgba(31, 5, 86, 0.85) 100%);
  background: -o-linear-gradient(top, rgba(46, 1, 130, 0.85) 0%, rgba(31, 5, 86, 0.85) 100%);
  background: linear-gradient(180deg, rgba(46, 1, 130, 0.85) 0%, rgba(31, 5, 86, 0.85) 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  content: ''; }

figure.effect-oscar h2 {
  margin: 20% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

figure.effect-oscar:hover figcaption {
  background-color: rgba(58, 52, 42, 0); }

.grid {
  position: relative;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none; }

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 295px;
  cursor: pointer; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  width: 100%;
  border-radius: 10px; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure .ready-title {
  font-size: 25px;
  line-height: 50px; }

.grid figure .ready-sub {
  font-size: 14px;
  line-height: 17px;
  font-family: "montserrat-light", sans-serif;
  margin-top: 20px; }

.grid figure .phone-popup {
  width: 130px;
  margin-top: 40px; }

.grid figure .ready-title-medium {
  font-size: 15px;
  line-height: 24px; }

.grid figure .ready-sub-medium {
  font-size: 12px;
  line-height: 20px;
  font-family: "montserrat-light", sans-serif;
  margin-top: 20px; }

.grid figure .ready-project-medium {
  font-size: 12px;
  line-height: 20px;
  width: 110px; }

.button-redya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0 60px 0; }

.slider {
  margin-top: 300px;
  margin-bottom: 100px; }

.work-slider {
  position: relative;
  height: 515px;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: radial-gradient(50% 50% at 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  width: 100%;
  background-position: top;
  overflow: hidden; }

.big-title {
  position: absolute;
  color: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 220px;
  text-align: center;
  letter-spacing: 0.2em;
  left: 0;
  right: 0;
  margin: 0 auto;
  white-space: nowrap; }

.line {
  position: absolute;
  width: 130%;
  height: 65%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  left: -230px;
  top: 210px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0; }

.slider-spaceman {
  background: url(../img/background/cosm.svg) no-repeat;
  height: 520px;
  width: 840px;
  background-position: bottom;
  background-size: cover;
  z-index: 90;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; }

.slider-product {
  width: 250px;
  margin: 170px auto 0 auto; }

.slider-img {
  position: relative;
  width: 110px;
  height: 110px; }
  .slider-img img {
    margin: 0 auto;
    height: 100%; }
  .slider-img .slider-img-bg {
    height: 199px;
    width: 200px;
    top: 0;
    position: absolute;
    background: -webkit-radial-gradient(63.62% 89.01%, 57.18% 83.21%, rgba(12, 4, 27, 0.02) 0%, rgba(12, 4, 27, 0.7) 46.52%, rgba(12, 4, 27, 0) 100%);
    background: -o-radial-gradient(63.62% 89.01%, 57.18% 83.21%, rgba(12, 4, 27, 0.02) 0%, rgba(12, 4, 27, 0.7) 46.52%, rgba(12, 4, 27, 0) 100%);
    background: radial-gradient(57.18% 83.21% at 63.62% 89.01%, rgba(12, 4, 27, 0.02) 0%, rgba(12, 4, 27, 0.7) 46.52%, rgba(12, 4, 27, 0) 100%);
    right: -10px; }

.product-slider-text {
  background: rgba(12, 4, 27, 0.85);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  height: 190px;
  background: rgba(12, 4, 27, 0.8);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  width: 290px;
  left: 0;
  position: absolute;
  right: 0;
  margin: 0 auto;
  bottom: -65px;
  padding: 20px 0; }

.slider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px; }

.slider-info-name {
  width: 115px; }

.slider-info-logo {
  margin: 0 10px 0 0;
  width: 45px;
  height: 45px; }
  .slider-info-logo img {
    width: 100%;
    height: 100%; }

.slider-info-name {
  padding: 0;
  margin: 0; }

.link-work {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  width: 130px;
  display: block;
  margin: 0 auto;
  border-bottom: 2px dotted #DA2227; }
  .link-work:hover {
    color: #ffffff;
    text-decoration: none; }

.prev-product {
  height: 35px;
  width: 35px;
  position: absolute;
  outline: none;
  left: -100px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
  bottom: -190px;
  border: 2px solid rgba(255, 255, 255, 0.5); }
  .prev-product:focus {
    outline: none; }
  .prev-product span::before {
    margin-left: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px; }

.next-product {
  height: 35px;
  width: 35px;
  position: absolute;
  outline: none;
  right: -100px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
  bottom: -190px;
  border: 2px solid rgba(255, 255, 255, 0.5); }
  .next-product:focus {
    outline: none; }
  .next-product span::before {
    margin-left: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px; }

.project-demo {
  position: absolute;
  bottom: 0; }

.project-demo ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.right-project {
  position: absolute;
  right: -900px; }

.right-project .project-item.big {
  width: 105px;
  height: 105px;
  position: absolute;
  left: 65px;
  top: -340px;
  z-index: 90; }

.right-project .project-item.medium {
  width: 75px;
  height: 75px;
  position: absolute;
  right: -295px;
  top: -300px; }

.right-project .project-item.small {
  width: 55px;
  height: 55px;
  position: absolute;
  right: -390px;
  top: -265px; }

.project-item {
  background: #0C041B;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .project-item a {
    position: absolute;
    width: 100%;
    height: 100%; }

.project-item.big {
  width: 105px;
  height: 105px;
  position: absolute;
  right: -460px;
  top: -323px;
  z-index: 90; }

.project-item img {
  width: 100%;
  height: 100%; }

.project-item.medium {
  width: 75px;
  height: 75px;
  position: absolute;
  right: -305px;
  top: -290px; }
  .project-item.medium img {
    width: 45px;
    height: 45px; }

.project-item.small {
  width: 55px;
  height: 55px;
  position: absolute;
  right: -179px;
  top: -250px; }
  .project-item.small img {
    width: 35px;
    height: 35px; }

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .mfp-bg {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(12, 4, 27, 0.5); } }

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  .mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0; }
  .mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5); }

:-ms-input-placeholder {
  font-size: 14px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5); }

::-ms-input-placeholder {
  font-size: 14px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5); }

::placeholder {
  font-size: 14px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5); }

:-ms-input-placeholder {
  font-size: 14px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5); }

::-ms-input-placeholder {
  font-size: 14px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5); }

.white-popup-block {
  max-width: 490px;
  background: red;
  margin: 0 auto;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#0C041B), to(#0C041B)), -webkit-gradient(linear, left bottom, left top, from(#EBADE4), to(#EBADE4)), #C4C4C4;
  background: -webkit-linear-gradient(bottom, #0C041B, #0C041B), -webkit-linear-gradient(bottom, #EBADE4, #EBADE4), #C4C4C4;
  background: -o-linear-gradient(bottom, #0C041B, #0C041B), -o-linear-gradient(bottom, #EBADE4, #EBADE4), #C4C4C4;
  background: linear-gradient(0deg, #0C041B, #0C041B), linear-gradient(0deg, #EBADE4, #EBADE4), #C4C4C4;
  border-radius: 25px;
  padding: 40px 30px; }
  .white-popup-block input {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: none;
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    padding: 0 0 0 20px;
    font-family: "montserrat-light", sans-serif;
    margin-bottom: 20px; }
    .white-popup-block input:focus {
      outline: none; }
  .white-popup-block .btn {
    background: -webkit-linear-gradient(356.38deg, #DA2128 0%, #F25700 99.23%);
    background: -o-linear-gradient(356.38deg, #DA2128 0%, #F25700 99.23%);
    background: linear-gradient(93.62deg, #DA2128 0%, #F25700 99.23%);
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    margin-top: 30px;
    outline: none; }
    .white-popup-block .btn:active {
      outline: none; }
    .white-popup-block .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

.form-img {
  position: absolute;
  height: 780px;
  width: 770px;
  top: -30%;
  left: 160%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.mfp-close-btn-in .mfp-close {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  opacity: 1; }

.white-popup-block h2 {
  font-size: 32px;
  line-height: 50px; }

.form-info {
  font-family: "montserrat-light", sans-serif;
  font-size: 14px;
  margin-bottom: 3px; }

.mfp-close {
  font-size: 18px;
  height: 25px;
  width: 25px;
  line-height: 25px; }

.mfp-close-btn-in .mfp-close {
  top: 30px;
  right: 40px; }

.form-help {
  display: block;
  margin: 20px 0 0 0; }

.wpcf7-list-item-label {
  font-family: "montserrat-light", sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding-left: 40px;
  position: relative; }

.form-text-red {
  color: #DB2425;
  border-bottom: 1px solid #DB2425;
  display: block;
  width: 208px; }

.wpcf7-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.wpcf7-list-item-label p {
  position: absolute;
  margin: 0 0 0 40px;
  top: -12px; }

.wpcf7-checkbox .wpcf7-list-item-label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #ffffff; }

.wpcf7-checkbox input:checked ~ .wpcf7-list-item-label::after {
  display: block; }

.wpcf7-checkbox input:checked ~ .wpcf7-list-item-label::before {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.wpcf7-checkbox .wpcf7-list-item-label::after {
  left: 11px;
  top: -7px;
  width: 10px;
  height: 20px;
  border: solid #DB2425;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none; }

.sub-title-form {
  font-size: 14px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px; }

input.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel {
  max-width: 205px;
  width: 100%; }

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  max-width: 370px;
  width: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #0C041B;
  color: #ffffff;
  font-family: "montserrat-medium", sans-serif; }

p {
  margin: 0; }

.main-screen {
  background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: radial-gradient(50% 50% at 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  width: 100%;
  background-position: top;
  background-size: cover; }

.header {
  margin-top: 50px; }

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.email-block {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
  position: relative;
  border-bottom: 2px dotted #DA2227;
  margin: 0 55px 0 0; }
  .email-block:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: none; }
  .email-block span {
    position: absolute;
    left: -25px;
    top: 2px; }
    .email-block span::before {
      margin-left: 0;
      color: #DA2227;
      font-size: 15px; }

.tell-header {
  margin: 0 15px 0 0; }

.phone {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  margin: 0 10px 0 0; }
  .phone:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px dotted #DA2227; }
  .phone span {
    position: absolute;
    left: -25px; }
    .phone span::before {
      margin-left: 0;
      color: #DA2227;
      font-size: 18px; }

.phone-popup {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  border-bottom: 2px dotted #DA2227;
  text-decoration: none; }
  .phone-popup:hover {
    color: #ffffff;
    text-decoration: none; }

.main-content {
  margin: 150px 0 0 40px;
  position: relative; }

.main-content::before {
  content: url(../img/background/rocket.svg);
  position: absolute;
  right: 0;
  top: -100px; }

.main-title {
  font-weight: 600;
  font-size: 44px;
  line-height: 58px;
  max-width: 590px;
  width: 100%; }

.sub-text {
  font-size: 20px;
  line-height: 34px;
  max-width: 240px;
  width: 100%;
  margin-top: 35px; }

.sub-text span {
  display: block;
  font-size: 18px;
  line-height: 34px;
  font-family: montserrat-medium; }

.button-main {
  margin-top: 45px; }

.button-main a {
  margin: 0 40px 0 0; }

.buttons {
  background: -webkit-linear-gradient(356.44deg, #DA2128 0%, #F25700 99.23%);
  background: -o-linear-gradient(356.44deg, #DA2128 0%, #F25700 99.23%);
  background: linear-gradient(93.56deg, #DA2128 0%, #F25700 99.23%);
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 32px; }
  .buttons:hover {
    color: #ffffff;
    text-decoration: none; }

.services-link {
  font-size: 14px; }

.start-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: -webkit-linear-gradient(347.47deg, #372EB8 0%, #342060 100.78%);
  background: -o-linear-gradient(347.47deg, #372EB8 0%, #342060 100.78%);
  background: linear-gradient(102.53deg, #372EB8 0%, #342060 100.78%);
  border-radius: 10px;
  padding: 25px 55px 35px 55px; }
  .start-block .start-title {
    font-size: 32px; }
  .start-block .start-text p {
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
    max-width: 520px;
    margin: 0; }
  .start-block .start-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .start-block .start-button .buttons {
      margin-bottom: 30px; }
    .start-block .start-button .phone-popup {
      width: 115px; }

.no-align {
  text-align: left;
  margin: 0; }

.big-title-top {
  top: -85px; }

.services {
  position: relative;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: radial-gradient(50% 50% at 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  width: 100%;
  background-position: bottom;
  background-size: cover;
  margin: 220px 0 0 0;
  overflow: hidden; }

.services-block {
  margin: 40px 0 0 0; }

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.title-border-text {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 37px;
  border-bottom: 2px solid #DA2227;
  display: inline-block; }

.title-block-text {
  font-size: 40px;
  line-height: 130%;
  margin: 0 0 0 20px; }
  .title-block-text span {
    color: #DA2227; }

.services-item {
  padding: 34px 34px 20px 34px;
  max-width: 380px;
  width: 100%;
  background: rgba(27, 12, 47, 0.6);
  border-radius: 10px;
  margin-bottom: 30px; }

.services-title-item {
  font-size: 22px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .services-title-item span {
    width: 39px;
    height: 28px;
    display: block;
    margin: 0 20px 40px 0; }
    .services-title-item span img {
      width: 100%;
      height: 100%; }

.services-item ul {
  margin: 0; }
  .services-item ul li {
    list-style-type: none;
    margin-bottom: 15px; }
    .services-item ul li a {
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      text-decoration: none;
      border-bottom: 2px dotted #DA2227; }
      .services-item ul li a:hover {
        border-bottom: none; }

.multi {
  position: relative;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: radial-gradient(50% 50% at 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  width: 100%;
  background-position: bottom;
  background-size: cover;
  margin: 200px 0 0 0;
  overflow: hidden; }

.otherCompanies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("../img/Line.png");
  background-repeat: repeat-x;
  background-position: 0 bottom;
  padding-bottom: 20px;
  margin-top: 60px; }

.otherCompanies-title {
  font-size: 20px; }

.otherCompanies-textCenter {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 525px;
  width: 100%;
  font-family: "montserrat-light", sans-serif; }

.otherCompanies-textRight {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 295px;
  width: 100%;
  position: relative;
  padding: 0 20px 0 0; }
  .otherCompanies-textRight span {
    position: absolute;
    right: 0;
    top: 5px; }
    .otherCompanies-textRight span::before {
      margin-left: 0;
      font-size: 10px; }

.othe-left-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.other-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .other-work span::before {
    margin-left: 0;
    font-size: 30px; }
  .other-work ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .other-work ul li {
      display: inline-block;
      list-style: none;
      background: -webkit-gradient(linear, left bottom, left top, from(#342060), to(#342060)), #C4C4C4;
      background: -webkit-linear-gradient(bottom, #342060, #342060), #C4C4C4;
      background: -o-linear-gradient(bottom, #342060, #342060), #C4C4C4;
      background: linear-gradient(0deg, #342060, #342060), #C4C4C4;
      font-size: 13px;
      padding: 15px 0 15px 20px;
      margin: 0 2px 0 0;
      position: relative; }
      .other-work ul li:first-child {
        border-radius: 10px 0 0 10px; }
      .other-work ul li:last-child {
        background: -webkit-gradient(linear, left top, right top, from(#342060), to(rgba(52, 32, 96, 0)));
        background: -webkit-linear-gradient(left, #342060 0%, rgba(52, 32, 96, 0) 100%);
        background: -o-linear-gradient(left, #342060 0%, rgba(52, 32, 96, 0) 100%);
        background: linear-gradient(90deg, #342060 0%, rgba(52, 32, 96, 0) 100%); }
    .other-work ul .other-designer {
      width: 340px; }
    .other-work ul .other-frond {
      width: 125px; }
    .other-work ul .other-beck {
      width: 145px; }
    .other-work ul .other-contractor {
      width: 200px;
      background: #342060; }
    .other-work ul .other-compilation {
      width: 225px; }

.otherCompanies-main {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/Line.png");
  background-repeat: repeat-x;
  background-position: 0 bottom;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .otherCompanies-main .otherCompanies-textCenter {
    max-width: 570px; }
  .otherCompanies-main .otherCompanies-textRight {
    max-width: 200px;
    color: #ffffff;
    margin-top: 10px; }

.work-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  position: relative; }

.line-double {
  position: relative; }
  .line-double img {
    position: absolute;
    top: -50px; }

.work-company-item {
  width: 94%; }
  .work-company-item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 15px 0; }
    .work-company-item ul li {
      display: inline-block;
      background: -webkit-linear-gradient(358.16deg, #DA2128 0%, #F25700 99.23%);
      background: -o-linear-gradient(358.16deg, #DA2128 0%, #F25700 99.23%);
      background: linear-gradient(91.84deg, #DA2128 0%, #F25700 99.23%);
      padding: 17px 0 17px 20px;
      font-size: 12px;
      margin: 0 2px 0 0; }
      .work-company-item ul li:first-child {
        border-radius: 10px 0 0 10px; }
      .work-company-item ul li:last-child {
        background: -webkit-linear-gradient(346.08deg, #DA2128 0%, #F25700 81.66%, rgba(242, 87, 0, 0) 99.23%);
        background: -o-linear-gradient(346.08deg, #DA2128 0%, #F25700 81.66%, rgba(242, 87, 0, 0) 99.23%);
        background: linear-gradient(103.92deg, #DA2128 0%, #F25700 81.66%, rgba(242, 87, 0, 0) 99.23%); }
    .work-company-item ul .company-first {
      max-width: 120px;
      width: 100%; }
    .work-company-item ul .company-second {
      max-width: 218px;
      width: 100%; }
    .work-company-item ul .company-third {
      max-width: 710px;
      width: 100%; }
    .work-company-item ul .company-second-midle {
      max-width: 108px;
      width: 100%; }
    .work-company-item ul .company-four {
      max-width: 260px;
      width: 100%; }
    .work-company-item ul .company-five {
      max-width: 608px;
      width: 100%; }

.top-line {
  position: absolute;
  right: 125px;
  top: -70px; }
  .top-line .top-line-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #DA2227; }
  .top-line .top-line-bottom {
    width: 1px;
    height: 200px;
    background: #DA2227;
    position: absolute;
    right: 5px; }

.special {
  position: relative;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: radial-gradient(50% 50% at 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  width: 100%;
  background-position: 0 -20px;
  background-size: cover;
  margin: 120px 0 0 0;
  padding: 100px 0 0 0;
  overflow: hidden; }
  .special .big-title-top {
    top: 10px; }

.special-item {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }
  .special-item .special-more {
    position: absolute;
    width: 100%;
    height: 100%; }

.special-titile {
  font-size: 24px;
  line-height: 40px;
  margin: 40px 0 40px 0; }
  .special-titile span {
    font-size: 40px; }

.special-link {
  color: #5C55C6;
  background: #ffffff;
  border-radius: 20px;
  padding: 13px 30px;
  font-size: 14px;
  line-height: 17px; }
  .special-link:hover {
    text-decoration: none;
    color: #5C55C6; }

.special-item-medium {
  width: 100%;
  max-width: 380px;
  height: 250px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(65, 54, 217, 0.9)), to(rgba(235, 173, 228, 0.9)));
  background: -webkit-linear-gradient(left, rgba(65, 54, 217, 0.9) 0%, rgba(235, 173, 228, 0.9) 100%);
  background: -o-linear-gradient(left, rgba(65, 54, 217, 0.9) 0%, rgba(235, 173, 228, 0.9) 100%);
  background: linear-gradient(90deg, rgba(65, 54, 217, 0.9) 0%, rgba(235, 173, 228, 0.9) 100%);
  border-radius: 10px;
  padding: 10px 40px;
  position: relative; }
  .special-item-medium .special-more {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 90;
    padding: 0;
    right: 0;
    left: 0;
    margin: 0 auto; }

.special-titile-medium {
  font-size: 18px;
  line-height: 40px; }
  .special-titile-medium span {
    font-size: 35px;
    line-height: 24px; }

.special-text-medium {
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.75);
  font-family: "montserrat-light", sans-serif;
  max-width: 240px;
  width: 100%;
  margin: 10px 0 20px 0; }

.special-item-left {
  background: -webkit-gradient(linear, left top, right top, from(rgba(235, 173, 228, 0.9)), to(rgba(65, 54, 217, 0.9)));
  background: -webkit-linear-gradient(left, rgba(235, 173, 228, 0.9) 0%, rgba(65, 54, 217, 0.9) 100%);
  background: -o-linear-gradient(left, rgba(235, 173, 228, 0.9) 0%, rgba(65, 54, 217, 0.9) 100%);
  background: linear-gradient(90deg, rgba(235, 173, 228, 0.9) 0%, rgba(65, 54, 217, 0.9) 100%); }
  .special-item-left .special-titile-medium {
    font-size: 24px; }

.special-img {
  margin-top: 12px; }

.special-bg {
  position: relative;
  margin-top: 0; }
  .special-bg img {
    position: absolute;
    right: -292px; }

.special-item-right .special-text {
  width: 60%; }

.special-item-right .special-titile {
  padding: 0 40px;
  margin: 15px 0 10px 0;
  width: 254px;
  font-size: 20px;
  line-height: 34px; }
  .special-item-right .special-titile span {
    font-size: 32px; }

.special-item-right .button-special {
  padding: 0 40px; }

.special-item-right .special-text-medium p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.75);
  padding: 0 0 0 40px;
  width: 300px; }

.special-block {
  margin-top: 40px; }

.special-info-block {
  font-size: 16px;
  line-height: 26px;
  font-family: "montserrat-light", sans-serif;
  margin-top: 10px; }
  .special-info-block span {
    font-family: "montserrat-medium", sans-serif;
    color: #DA2227; }

.warranty {
  position: relative;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
  padding-top: 300px; }
  .warranty .big-title-top {
    top: 220px; }

.warranty-block {
  margin-top: 45px;
  margin-bottom: 80px; }

.ship {
  position: absolute;
  width: 775px;
  height: 735px;
  right: 0;
  top: 0;
  background-repeat: no-repeat; }

.warranty-item {
  background: #1B0C2F;
  border-radius: 10px;
  max-width: 310px;
  width: 100%; }
  .warranty-item ul {
    margin: 0;
    padding: 20px 40px 20px 50px; }
    .warranty-item ul li {
      list-style: none;
      position: relative;
      font-size: 13px;
      line-height: 26px;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 15px; }
      .warranty-item ul li::before {
        content: url(../img/star-list.png);
        position: absolute;
        height: 30px;
        width: 30px;
        left: -25px; }

.warranty-title {
  background: -webkit-linear-gradient(352.31deg, #3B32BD 0%, #410770 100.78%);
  background: -o-linear-gradient(352.31deg, #3B32BD 0%, #410770 100.78%);
  background: linear-gradient(97.69deg, #3B32BD 0%, #410770 100.78%);
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 25px;
  font-size: 16px; }

.about {
  position: relative;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: radial-gradient(50% 50% at 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  width: 100%;
  background-position: bottom;
  background-size: cover;
  margin: 220px 0 0 0;
  overflow: hidden; }

.about-img {
  height: 380px;
  max-width: 680px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px; }

.about-text {
  margin-top: 30px;
  font-family: "montserrat-light", sans-serif;
  font-size: 16px;
  line-height: 32px; }
  .about-text span {
    font-family: "montserrat-lightItalic", sans-serif; }
  .about-text ul li {
    list-style-type: none;
    position: relative; }
    .about-text ul li::before {
      content: '';
      width: 11px;
      top: 12px;
      position: absolute;
      height: 5px;
      border: 2px solid #9994DB;
      background: #9994DB;
      border-radius: 50% 50% 0 0 / 100% 100% 0 0;
      -webkit-transform: rotate(-270deg);
      -ms-transform: rotate(-270deg);
      transform: rotate(-270deg); }
    .about-text ul li::first-letter {
      margin: 0 0 0 20px; }

.manager-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px; }

.manager-avatar {
  height: 135px;
  width: 135px;
  background: -webkit-linear-gradient(230.88deg, #EBADE4 -32.35%, #8B85E0 92.07%), #0C041B;
  background: -o-linear-gradient(230.88deg, #EBADE4 -32.35%, #8B85E0 92.07%), #0C041B;
  background: linear-gradient(219.12deg, #EBADE4 -32.35%, #8B85E0 92.07%), #0C041B;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 200px;
  position: relative;
  margin: -30px 20px 0 0; }
  .manager-avatar img {
    width: 130px;
    height: 190px;
    position: absolute;
    border-radius: 62px;
    top: -55px;
    left: 0;
    right: 0;
    margin: 0 auto; }

.team {
  font-size: 14px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "montserrat-light", sans-serif;
  margin: 20px 0 10px 22px; }

.user-name {
  font-size: 24px;
  margin: 25px 0 0 0; }

.user-position {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "montserrat-light", sans-serif; }

.manager-section {
  background: -webkit-linear-gradient(99.66deg, #372EB8 13.23%, #342060 86.77%);
  background: -o-linear-gradient(99.66deg, #372EB8 13.23%, #342060 86.77%);
  background: linear-gradient(350.34deg, #372EB8 13.23%, #342060 86.77%);
  border-radius: 10px;
  max-width: 475px;
  margin-top: 60px; }

.employees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .employees ul {
    margin: 0; }
    .employees ul li {
      list-style-type: none;
      font-size: 13px;
      line-height: 130%;
      margin-bottom: 20px; }

.about-section {
  margin-top: 40px;
  margin-bottom: 100px; }

.blog {
  position: relative;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: radial-gradient(50% 50% at 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  width: 100%;
  background-position: bottom;
  background-size: cover;
  margin: 220px 0 0 0;
  overflow: hidden; }

.blog-news {
  max-width: 580px;
  height: 398px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 30px; }
  .blog-news .blog-news-more {
    position: absolute;
    width: 100%;
    height: 100%; }

.blog-news-info {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(34.13%, rgba(12, 4, 27, 0)), color-stop(84.11%, rgba(12, 4, 27, 0.8)));
  background: -webkit-linear-gradient(top, rgba(12, 4, 27, 0) 34.13%, rgba(12, 4, 27, 0.8) 84.11%);
  background: -o-linear-gradient(top, rgba(12, 4, 27, 0) 34.13%, rgba(12, 4, 27, 0.8) 84.11%);
  background: linear-gradient(180deg, rgba(12, 4, 27, 0) 34.13%, rgba(12, 4, 27, 0.8) 84.11%); }
  .blog-news-info .blog-news-desc {
    position: absolute;
    bottom: 0; }
    .blog-news-info .blog-news-desc .title-news {
      font-size: 18px;
      line-height: 28px; }
    .blog-news-info .blog-news-desc .news-text {
      margin-top: 5px;
      font-size: 13px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.7); }
    .blog-news-info .blog-news-desc .news-down-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 5px 0 20px 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.news-data {
  font-size: 14px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "montserrat-light", sans-serif;
  margin: 5px 0 0 0; }

.more-link {
  font-size: 14px;
  line-height: 25px;
  border-bottom: 2px dotted #DA2227;
  margin: 0 25px 0 0; }

.video-block-title {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.8);
  font-family: "montserrat-light", sans-serif;
  text-align: center;
  margin: 0 0 10px 0; }

.video-block-text {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 0 10px;
  margin: 0 0 30px 0; }

.play-video {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: -webkit-linear-gradient(13.45deg, #8B85E0 19.3%, #EBADE4 80.7%), #C4C4C4;
  background: -o-linear-gradient(13.45deg, #8B85E0 19.3%, #EBADE4 80.7%), #C4C4C4;
  background: linear-gradient(76.55deg, #8B85E0 19.3%, #EBADE4 80.7%), #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -150px; }
  .play-video span::before {
    margin-left: 0;
    font-size: 30px; }

.contact {
  position: relative;
  background: -webkit-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: -o-radial-gradient(50% 50%, 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  background: radial-gradient(50% 50% at 50% 50%, rgba(12, 4, 27, 0) 0%, #0C041B 100%), url("../img/background/star.png");
  width: 100%;
  background-position: bottom;
  background-size: cover;
  margin: 220px 0 0 0;
  overflow: hidden;
  padding: 0 0 220px 0; }

.contact-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 365px;
  width: 100%;
  height: 490px;
  margin-top: 40px; }

.contact-info {
  padding: 0 0 0 40px; }

.conatct-title {
  font-size: 40px; }
  .conatct-title span {
    font-family: "Montserrat-MediumItalic", sans-serif; }

.contact-text {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "montserrat-light", sans-serif;
  max-width: 480px;
  width: 100%;
  margin: 20px 0; }

.contact-sub {
  font-size: 16px;
  line-height: 28px;
  font-family: "montserrat-light", sans-serif;
  color: rgba(255, 255, 255, 0.7); }

.contact-email {
  margin-bottom: 30px; }

.contact-email-link {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none; }
  .contact-email-link:hover {
    text-decoration: none;
    color: #ffffff; }

.contact-tell {
  margin-bottom: 30px; }

.contact-tell-block {
  display: block;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none; }
  .contact-tell-block:hover {
    text-decoration: none;
    color: #ffffff; }

.ceo-text p {
  font-size: 14px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "montserrat-light", sans-serif;
  margin-bottom: 40px; }

.footer-info .footer-logo {
  width: 135px;
  height: 39px; }
  .footer-info .footer-logo img {
    width: 100%;
    height: 100%; }

.footer-info .copy {
  font-size: 14px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "montserrat-light", sans-serif;
  margin-top: 15px;
  margin-bottom: 20px; }

.footer-info .user-copy {
  font-size: 13px;
  line-height: 16px; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-nav ul {
    margin: 0; }
    .footer-nav ul li {
      list-style-type: none;
      margin-bottom: 20px; }
      .footer-nav ul li a {
        text-decoration: none;
        font-size: 13px;
        line-height: 16px;
        color: #ffffff; }

.social ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social ul li {
    list-style-type: none;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: #DA2227;
    margin: 0 20px 0 0; }
    .social ul li a {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; }
      .social ul li a span {
        color: #ffffff; }
        .social ul li a span::before {
          margin-left: 0; }

footer {
  margin-top: 90px; }

.footer-phone {
  margin: 20px 0 0 0; }
  .footer-phone a {
    display: block; }
  .footer-phone .footer-tell {
    font-size: 16px;
    line-height: 25px;
    color: #ffffff; }
    .footer-phone .footer-tell:hover {
      text-decoration: none; }

.footer-popup {
  font-size: 14px;
  line-height: 25px;
  color: #DA2227;
  display: block;
  border-bottom: 1px solid #DA2227;
  width: 125px; }
  .footer-popup:hover {
    text-decoration: none;
    color: #DA2227; }

.blog-section {
  margin-top: 40px; }
